In [20]:

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv(r"C:\Users\Lenovo\OneDrive\Documents\Data set\MLL\Job_requirement\HR_comma_sep.csv.crdownload")

In [22]:
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [23]:
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
dtype: int64

# Clean Df

In [24]:
def reading_cleaning(df):
    df.drop_duplicates(inplace=True)
    cols=df.columns.tolist()
    df.columns=[x.lower() for x in cols]

    return df
df=reading_cleaning(df)
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

# Everation Employee Detail

In [29]:
def employee_important_info(df):
    # Average satisfaction level
    average_satisfaction = df['satisfaction_level'].mean()

    # Department-wise average satisfaction level
    department_satisfaction = df.groupby('department')['satisfaction_level'].mean()

    # Salary-wise average satisfaction level
    salary_satisfaction = df.groupby('salary')['satisfaction_level'].mean()

    # Employees who left
    left_employees = len(df[df['left'] == 1])

    # Employees who stayed
    stayed_employees = len(df[df['left'] == 0])
    
    return average_satisfaction, department_satisfaction, salary_satisfaction, left_employees, stayed_employees

In [35]:
# Example call
average_satisfaction, department_satisfaction, salary_satisfaction, left_employees, stayed_employees = employee_important_info(df)

# Now you can print them
print("Average satisfaction level:", average_satisfaction)
print("Department-wise average satisfaction level:\n", department_satisfaction)
print("Salary-wise average satisfaction level:\n", salary_satisfaction)
print("Left employees:", left_employees)
print("Stayed employees:", stayed_employees)

Average satisfaction level: 0.6025083272990586
Department-wise average satisfaction level:
 department
IT             0.596568
RandD          0.606976
accounting     0.578370
hr             0.595282
management     0.599833
marketing      0.605653
product_mng    0.607022
sales          0.601585
support        0.614926
technical      0.601670
Name: satisfaction_level, dtype: float64
Salary-wise average satisfaction level:
 salary
h         0.240000
high      0.627799
low       0.592670
medium    0.610444
Name: satisfaction_level, dtype: float64
Left employees: 1991
Stayed employees: 4914